SECRET_KEY=change-this-secret-key
JWT_SECRET_KEY=change-this-jwt-secret-key
DATABASE_URL=sqlite:///homemart.db
SUPER_ADMIN_EMAIL=superadmin@homemart.com
SUPER_ADMIN_PASSWORD=SuperAdmin@123
SUPER_ADMIN_NAME=Super Admin
